* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #24292E;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 1400px;
    height: 100%;
   
    margin: auto;

}

.container .disclaimer {

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90%;
    height: 50px;

    background-color: #000000;
    
    color: #F0F0F4;
    font-size: 20px;
    font-family: Segoe UI;
    text-align: center;
    
    border-radius: 50px;

    margin-bottom: 10px;
}

.container .disclaimer a{
    text-decoration: none;
    color: red;
}

.container .result {
    width: 50%;
    height: 10%;
    
    border-radius: 50px;
    border: none;

    margin: 3px 0 3px;

    padding: 10px;
    background-color: #F0F0F4;

    margin-bottom: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.container .result #resu {
    font-size: 20px;
    font-family: Segoe UI;
    color: #24292E;
    text-align: center;
}


.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.input-one {
    width: 50%;
    height: 10%;
    
    border-radius: 50px;
    border: none;

    margin: 3px 0 3px;

    font-size: 20px;
    font-family: Segoe UI;
    color: #24292E;
    text-align: center;

    padding: 10px;

}

.input-two {
    width: 50%;
    height: 10%;
    
    border-radius: 50px;
    border: none;

    margin: 3px 0 3px;

    font-size: 20px;
    font-family: Segoe UI;
    color: #24292E;
    text-align: center;

    padding: 10px;
}

.checkButton {
    width: 50%;
    height: 10%;
    
    border-radius: 50px;
    border: none;

    margin-top: 20px;

    cursor: pointer;

    font-size: 20px;
    font-family: Segoe UI;
    color: #F0F0F4;
    background-color: #000000;

    transition: background-color 0.7s;
    text-decoration: none;
}

.checkButton:hover {
    background-color: #F0F0F4;
    font-size: 20px;
    font-family: Segoe UI;
    color: #000000;
}

@media (max-width: 1200px){

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        height: 100%;
       
        margin: auto;
    
    }

    .container .result {
        width: 90%;
        height: 10%;
        
        border-radius: 50px;
        border: none;
    
        margin: 3px 0 3px;
    
        padding: 10px;
        background-color: #F0F0F4;
    
        margin-bottom: 35px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .container .result #resu {
        font-size: 16px;
        font-family: Segoe UI;
        color: #24292E;
        text-align: center;
    }

    .input-one {
        width: 90%;
        height: 10%;
        
        border-radius: 50px;
        border: none;
    
        margin: 3px 0 3px;
    
        font-size: 16px;
        font-family: Segoe UI;
        color: #24292E;
        text-align: center;
    
        padding: 10px;
    
    }
    
    .input-two {
        width: 90%;
        height: 10%;
        
        border-radius: 50px;
        border: none;
    
        margin: 3px 0 3px;
    
        font-size: 16px;
        font-family: Segoe UI;
        color: #24292E;
        text-align: center;
    
        padding: 10px;
    }

    .checkButton {
        width: 90%;
        height: 10%;
        
        border-radius: 50px;
        border: none;
    
        margin-top: 20px;
    
        cursor: pointer;
    
        font-size: 20px;
        font-family: Segoe UI;
        color: #F0F0F4;
        background-color: #000000;
    
        transition: background-color 0.7s;
        text-decoration: none;
    }
    
    .checkButton:hover {
        background-color: #F0F0F4;
        font-size: 20px;
        font-family: Segoe UI;
        color: #000000;
    }

    .container .disclaimer {
        height: 70px;
        font-size: 16px;
    }
}







